<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title> Hike Weather</title>
</head>
<body>
	{% extends "template.html" %}
	{% block content %}
	<div class="container-fluid" style="width: 95%">
		<div class="row" style="width: 95%">
			For {{ hikeJson.Name }} on {{ hikeJson.Month }}/{{ hikeJson.Day }}, we observed the following.
		</div>
		<div class="container">
			<table id="hikeWeater">
				<thead>
					<tr>
						<th data-field="Stat">Measurement</th>
						<th data-field="3_year_avg">3 year average</th>
						<th data-field="5_year_avg">5 year average</th>
						<th data-field="10_year_avg">10 year average</th>
						<th data-field="20_year_avg">20 year average</th>
						<th data-field="30_year_avg">30 year average</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="container">
			<div class="row" style="width: 95%">
				<p><strong><<a href=" {{ url_for('pickHikeDate', hikeId=hikeJson.Hike_ID) }}">Pick another day.</a></strong></p>
				<p><strong><a href="{{ url_for('/') }}">Pick another hike.</a></strong></p>
			</div>
		</div>
	</div>


	{% endblock %}
</body>
</html>