<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title> Trek Weather</title>
</head>
<body>
	{% extends "template.html" %}
	{% block content %}
	<div class="container">
		<div class="row mt-3" style='margin: 0 auto'>
			<h3> Where would you like to go hiking?</h3>
			<div class="mt-3" id='map' style='width: 85%; height: 500px; margin: 0 auto;'></div>
		</div>
	</div>
	<script>
		mapboxgl.accessToken = "{{ mapToken }}";
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [-119.5, 37.9],
			zoom: 5,
			minZoom: 0,
			maxZoom: 14
		});
		// code for clustering functionality taken from https://docs.mapbox.com/mapbox-gl-js/example/cluster/
		map.on('load', function() {
			var canvas = map.getCanvasContainer();

			map.addSource("hikes", {
				type: "geojson",
				data: "/getHikes/hikes.geojson",
				cluster: true,
				clusterMaxZoom: 14,
				clusterRadius: 50
			});


			map.addLayer({
				id: "clusters",
				type: "circle",
				source: "hikes",
				filter: ["has", "point_count"],
				paint: {
					"circle-color" : [
						"step", ["get", "point_count"],
						"#51bbd6",
						100,
						"#f1f075",
						750,
						"#f28cb1"
					],
					"circle-radius" : [
						"step", ["get", "point_count"],
						20,
						100,
						30,
						750,
						40
					]
				}
			});

			map.addLayer({
				id: "cluster-count",
				type: "symbol",
				source: "hikes",
				filter: ["has", "point_count"],
				layout: {
					"text-field": "{point_count_abbreviated}",
					"text-size": 12
				}
			});

			map.addLayer({
				id: "unclustered-point",
				type: "circle",
				source: "hikes",
				filter: ["!",["has", "point_count"]],
				paint: {
					"circle-color": "#11b4da",
					"circle-radius": 4,
					"circle-stroke-width": 1,
					"circle-stroke-color": "#fff"
				}
			});

			// change the cursor to a pointer when mouse enters a cluster or hike
			map.on('mouseenter', 'clusters', function() {
				map.getCanvas().style.cursor = 'pointer';
			});
			map.on('mouseleave', 'clusters', function() {
				map.getCanvas().style.cursor = '';
			});
			map.on('mouseenter', 'unclustered-point', function() {
				map.getCanvas().style.cursor = 'pointer';
			});
			map.on('mouseleave', 'unclustered-point', function() {
				map.getCanvas().style.cursor = '';
			});

			map.on('click', 'unclustered-point', function(e) {
				var features = map.queryRenderedFeatures(e.point, { layers: ['unclustered-point'] });
				var hike = features[0];
				var popup = new mapboxgl.Popup({ offset: [0, -15] })
										.setLngLat(hike.geometry.coordinates)
										.setHTML('<h3>' + hike.properties.Name + 
											'</h3> <br> <a href="/pickDate/0/' + hike.properties.Hike_ID +
											'"> Get Weather </a>').addTo(map);
			});

			map.on('click', 'clusters', function(e) {

				var features = map.queryRenderedFeatures(e.point, { layers: ['clusters'] });
				var cluster = features[0];
				var clusterId = cluster.properties.cluster_id;

				// if not yet at maxZoom, zoom in on cluster
				if (map.getZoom() < map.getMaxZoom()) {
					map.getSource('hikes').getClusterExpansionZoom(clusterId, function (err, zoom) {
						if (err) {
							return;
						}
						map.easeTo({
							center: cluster.geometry.coordinates,
							zoom: zoom
						});
					});
					return;
				}

				// if at maxZoom, display a popup with the hike names and a link to get weather
				var numLeaves = cluster.properties.point_count;
				map.getSource('hikes').getClusterLeaves(clusterId, numLeaves, 0, function (err, features) {
					if (err) {
						return;
					}
					var htmlString = '<h3>Hikes in this area</h3><ul>';
					for (i = 0; i < features.length; i++) {
						htmlString = htmlString + '<li>' + features[i].properties.Name + '</li>';
					}
					htmlString = htmlString + '</ul><a href="/pickDate/1/' + 
									features[0].properties.Hike_ID + '"> Get Weather </a>';
					var popup = new mapboxgl.Popup({ offset: [0, -15] })
										.setLngLat(cluster.geometry.coordinates)
										.setHTML(htmlString).addTo(map)
				});
			});


		});
	</script>
	{% endblock %}
</body>
</html>