<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title> Trek Weather</title>
</head>
<body>
	{% extends "template.html" %}
	{% block content %}
	<script>
		// load data for the table
		$(document).ready(function() {
			var data = {{ hike|tojson|safe }};

			$(function() {
				$('#hikeweather').bootstrapTable({
					data: data.properties
				});
			});
		});
	</script>
	<div class="container-fluid" style="width: 95%">
		<div class="row mt-3 mb-3 justify-content-center" style="width: 95%">
			<p></p>
			{% if cluster == "0" %}
				<h3>{{ hike.Name }} on {{ hike.Month | month_name }} {{ hike.Day }}</h3>
			{% else %}
				<h3> Hikes near {{ hike.Name }} on {{ hike.Month | month_name }} {{ hike.Day }}</h3>
			{% endif %}
			<p></p>
		</div>
		<div class="container">
			<table id="hikeweather" data-sort-name="Stat" data-sort-order="desc">
				<thead>
					<tr>
						<th rowspan="2" data-field="Stat" class="align-middle text-center">Measurement</th>
						<th colspan="2" class="text-center">Values</th>
						<th colspan="5" class="text-center">Averages</th>
					</tr>
					<tr>
						<th data-field="2019_value" class="text-center">2019</th>
						<th data-field="2018_value" class="text-center">2018</th>
						<th data-field="3_year_avg" class="text-center">3 year</th>
						<th data-field="5_year_avg" class="text-center">5 year</th>
						<th data-field="10_year_avg" class="text-center">10 year</th>
						<th data-field="20_year_avg" class="text-center">20 year</th>
						<th data-field="30_year_avg" class="text-center">30 year</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="container">
			<div class="row justify-content-center mt-3" style="width: 95%">
				<div class="col text-center"><strong><a href=" {{ url_for('pickDate', cluster=cluster, hikeId=hike.Hike_ID) }}">Pick another day</a></strong></div>
				<div class="col text-center"><strong><a href="{{ url_for('home') }}">Pick another hike</a></strong></div>
			</div>
		</div>
	</div>


	{% endblock %}
</body>
</html>